BOOST_DIR = /usr/local/Cellar/boost@1.60/1.60.0
OPENSSL_DIR = /usr/local/opt/openssl
ROOT_DIR= $(PROJECT_DIR)/../..

CXX_FLAGS =  -fvisibility=hidden -fvisibility-inlines-hidden -fPIC   -fexceptions -std=gnu++11
CXX_DEFINES = -DBOOST_ASIO_ENABLE_CANCELIO -DBOOST_ASIO_HAS_STD_CHRONO -DBOOST_EXCEPTION_DISABLE -DTORRENT_BUILDING_LIBRARY -DTORRENT_BUILDING_SHARED -DTORRENT_USE_LIBCRYPTO -DTORRENT_USE_OPENSSL -D_FILE_OFFSET_BITS=64 -Dtorrent_rasterbar_EXPORTS
HEADER_SEARCH_PATHS = $(BOOST_DIR)/include $(OPENSSL_DIR)/include $(ROOT_DIR)/include
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) $(CXX_FLAGS) $(CXX_DEFINES)

